#venue input{
    padding-left: 1rem;
    border-radius: 0.4rem;
}

#vehicle input{
    padding-left: 1rem;
    border-radius: 0.4rem;
}

#catering input{
    padding-left: 1rem;
    border-radius: 0.4rem;
}

.h-content {
    height: 80vh; /* Adjust the height as needed */
    overflow-y: auto;
  }
  
 /* Set the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 15px; /* You can adjust the width as needed */
}

/* Track - the area behind the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Thumb - the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* When hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}


