.placeholder-black::placeholder {
    color: black !important;
  }

  div .rdrDayDisabled {
    background-color: #f16d6d;
    border-radius: 40%;
    color: #ffffff;
    /* Add any other styles you want to customize */
  }